body {
    background-color: #f6f7fb;
    font-family: 'Poppins', sans-serif;;
}

#th{
    font-size: 18px;
}

#filter{
    margin-top: -6px;
}


#mainwrapper{
    
    background-color: #f6f7fb;
    width:100%;
    margin-top: 70px;

}
#filter1{
    margin-right:10px;
}
#filter2{
    margin-right:10px
}
#subwrapper{
    display: flex;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
#filters{
    width:20%;
    background-color: #f6f7fb;
}
#table{
    width:80%;
    margin-top: 70px;
    margin-bottom: 50px;
}
.userList-table {
    border-collapse: collapse;
}
.userList-table td,
.userList-table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.userList-primaryText {
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
.userList-secondaryText {
    color: #8c8c8c;
}
td{
    border-top: 3px solid #f6f7fb;
    background-color: white;
}
th{
    background-color: #f6f7fb;
}